
<ion-app>
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">


          <ion-list-header><img src="/assets/pokemon.png"  width="40%" class="center"></ion-list-header>
          <ion-note></ion-note>
          
          <div class="right" *ngIf="authentication.isLoggedIn" >
            <p *ngIf="authentication.isLoggedIn">   &nbsp;&nbsp;&nbsp;
              {{authentication.displayName}}
            </p>&nbsp;
            <ion-menu-toggle auto-hide="false">&nbsp;
              <ion-button (click)="authentication.logout()">Logout</ion-button>
            </ion-menu-toggle>
            
          </div>   
          <div class="right" *ngIf="!authentication.isLoggedIn" >
            <ion-menu-toggle auto-hide="false">&nbsp;
              <ion-button routerLink='/folder/login' >Login</ion-button>
            </ion-menu-toggle>
            
          </div>  
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              
              
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>
          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
<!--canvi-->
