<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ detalls }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ detalls }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ detalls }}</strong>
    <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    -->
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Pokemon</ion-card-subtitle>
      
        <ion-card-title style="text-transform: uppercase; text-align: center;"><h1>{{info}}</h1></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>


        <div *ngIf= "pokemon">
          <p>
            <img  [src]='pokemon.sprites.front_default'>
            <img  [src]='pokemon.sprites.back_default'>
            <img  [src]='pokemon.sprites.front_shiny'>
          </p>
        </div>

        <h1>Habilitats</h1><br>
        <div *ngIf= "pokemon">
          <li *ngFor= " let a of pokemon.abilities">
            {{a.ability.name}}
          </li>
        </div>

        <br>

        <h1>Moviments</h1><br>
        <div *ngIf= "pokemon">
          <li *ngFor= " let b of pokemon.moves">
            {{b.move.name}}
          </li>
        </div>
        
        <ion-button href='/folder/perfil'><button  (click)="guardarDades" (click)="guardar"  style="background-color: rgb(37, 156, 253);">&#10003;</button></ion-button>

        <ion-button color="light"  href='/folder/pokemon' >Tornar</ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>

