<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ perfil }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ perfil }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ perfil }}</strong>
   <!-- <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
   -->

   
   <ion-card>
      
    <ion-card-header>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <ion-card-title><h1>PERFIL JUGADOR</h1></ion-card-title>
      <img src="/assets/personatge.png" alt="" width="200 px">
    </ion-card-header>
  
    <ion-card-content > 
      <ion-card-subtitle><p>Tens x Pokemons</p></ion-card-subtitle><br>
      <ion-card-subtitle><p>El teu equip és: </p></ion-card-subtitle><br>

      <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-button *ngIf="!afegint" (click)="afegint=!afegint"><ion-icon name="add" ></ion-icon></ion-button>
        </ion-fab-button>
      </ion-fab>
      <button *ngIf="!afegint" (click)="afegint=!afegint">&#10010;</button>

      <span *ngIf="afegint">
        <input [(ngModel)]="newUser.name" />
       
        <button (click)="afegir()">&#10003;</button>
        <button (click)="afegint=!afegint">&#10008;</button>  
      </span>
      <br/>
      
      <ul>
        <ion-list>
          <ion-item>
            <ion-label>
              <p *ngFor="let user of users; let i=index" >
                <!--estem en mode edicio -->
                <span *ngIf="edicio"> 
                  <input [(ngModel)]="user.name" />
                  <button (click)="edicio=!edicio">&#10008;</button>
                  <button (click)="guardar()">&#10003;</button>
                </span>
                <!-- estem en mode visualitzacio -->
                <span *ngIf="!edicio">
                
                  {{user.name}} 
                  
                  <button (click)="edicio=!edicio">&#9998;</button>
                </span>
                
                <button (click)="eliminar()">&#9986;</button>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ul>
      
      <ion-list>
        <ion-item>
          <ion-label> {{dadaPokemon}} </ion-label>
        </ion-item>
      </ion-list>
      <br>

      <ion-button color="light" expand="full" href='/folder/pokemon' >Seguir triant</ion-button>
    </ion-card-content>
  </ion-card>
  
  </div>
 </ion-content>
