<p>
    <!-- estem en mode edicio -->
    <span *ngIf="edicio">
      Codi <input maxlength="2" minlength="2" size="2" [(ngModel)]="user.id" /> 
      Nom <input [(ngModel)]="user.name" />
      <button (click)="edicio=!edicio">&#10008;</button>
      <button (click)="guardar()">&#10003;</button>
    </span>
    <!-- estem en mode visualitzacio -->
    <span *ngIf="!edicio">
     
      {{user.name}} 
      
      <button (click)="edicio=!edicio">&#9998;</button>
    </span>
    
    <button (click)="eliminar()">&#9986;</button>
    
  </p>
  